<div class="footer">
    <div class="img--a"><img src="http://lorempicsum.com/up/200/100/2" alt=""></div>
    <div class="img--a"><img src="http://lorempicsum.com/up/200/100/2" alt=""></div>
    <div class="footer-list">
        <div class="g-footerList">
            <h3>SITE INFORMATION</h3>
            <ul>
                <li><a href="#">Open Account</a></li>
                <li><a href="#">Open Account</a></li>
            </ul>
        </div>
        <div class="g-footerList">
            <h3>SITE INFORMATION</h3>
            <ul>
                <li><a href="#">Open Account</a></li>
                <li><a href="#">Open Account</a></li>
            </ul>
        </div>
    </div>
    <div class="info">lorem</div>
    <ul>
        <li><a href="#"><img src="http://lorempicsum.com/up/50/50/2" alt=""></a></li>
    </ul>
    <div class="text--a"></div>
</div>